/* Buscador.css */

/* Estilos para el contenedor */
.buscador-container {
    display: flex;
    justify-content: space-between;
    /* Alinea los elementos al principio y al final del contenedor */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

/* Estilos para la etiqueta (label) */
label {
    text-align: center;
    width: 20%;
    padding: 0.5rem;
    font-size: 1rem;
/*     color: #646cff; */
    /* Cambia el color de la etiqueta */
    font-weight: bold;
    /* Hace que el texto sea negrita */
}

/* Estilos para el input */
.buscador-input {
    width: 80%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

/* Estilos para el botón */
.boton-buscador {
    width: 15%;
    /* Permite que el botón se ajuste a su contenido */
    padding: 0.5rem 1rem;
    background-color: #646cff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #535bf2;
    }
}